@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@theme {
    
    --color-brand-100: #FFFFFF;
    --color-brand-200: #EAECED;
    --color-brand-300: #5898C7;
    --color-brand-500: #2D3E57;
    --color-green-100: #278F7C
  }
  
  @layer utilities {
    .bg-tm-main-blue {
        background-color: var(--color-brand-200);
    }

    .bg-tm-blue-secondary {
        background-color: var(--color-brand-300);
    }
    
    .bg-tm-charcoal-blue {
      background-color: var(--color-brand-500);
    }

    

    .text-tm-white{
        color: var(--color-brand-100);
    }

    .text-tm-charcoal-blue{
        color: var(--color-brand-500);
    }

    .bg-custom-green {
      color: var(--color-green-100);
    }
  }